img.titleDisplay {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 32%;
	top: 1%;
}

.mapDisplay {
	width: 1017px;
	height: 555px;
	background: url(img/mapBack.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.mapDisplay .containerDisplay {
	width: 540px;
	height: 495px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background: url(img/box80.png) no-repeat;
}

.mapDisplay .containerDisplayQuiz {
	width: 1017px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	display: block;
	background: url(img/boxQuiz.png) no-repeat;
}

.mapDisplay .containerDisplay .textHeader {
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
	width: 15em;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.mapDisplay .containerDisplay .textMode {
	text-align: center;
	font-size: 20px;
	font-family: Verdana;
	width: 15em;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.mapDisplay .containerDisplay .buttonTable {
	text-align: center;
}

.mapDisplay .containerDisplay .buttonTable .textButtons {
	text-align: center;
}

.mapDisplay .containerDisplay table {
	margin: 0 auto;
	text-align: left;
}

.answerButtons {
	height: 50px;
	width: 320px;
}

.textFont {
	font-family: Verdana;
	color: darkblue;
	font-size: 18px;
}

.textFontSentence {
	font-size: 20px !important;
	font-style: italic;
}

.tableLeftSide {
	width: 355px;
	text-align: center;
}

.firstRow {
	height: 15px;
	vertical-align: middle;
}

.secondRow {
	height: 200px;
}

.headlineTextFont {
	font-size: 24px;
	font-style: italic;
	font-family: Verdana;
	color: darkblue;
}

.svgObject {
	background: white;
	width: 580px;
	height: 300px;
}


.scrollBar {
	overflow:scroll;
	height:109px; 
	width:580px;
}


.land
{
	fill: #CCC;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}